body{
    background-color: wheat;
    margin: auto;
    min-height: 100%;
}

.container {
    margin:auto;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
    min-height: 100vh;
}

.header{
    text-align: center;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.alert{
    text-align: center;
    justify-content: center;
    margin-left:20%;
    margin-right:20%;
}

#characterButtons{
    text-align: center;
}

#character-form{
    text-align: center;
    margin:10px;
}

#characters{
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gif{
    margin: 10px;
}

.btn {
    margin: 5px;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}